In [7]:
import pandas as pd

# Load the Excel file
file_path = 'Adidas US Sales Datasets.xlsx'

# Since we don't know the structure of the Excel file, let's start by loading the sheet names
excel_file = pd.ExcelFile(file_path)
sheet_names = excel_file.sheet_names
sheet_names

['Data Sales Adidas']

In [8]:
# Load the data from the sheet 'Data Sales Adidas'
data_sales_adidas = pd.read_excel(excel_file, sheet_name='Data Sales Adidas')

# Display the first few rows of the dataframe to understand its structure
data_sales_adidas.head()

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.0,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.0,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.0,0.35,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,In-store

In [9]:
# Skip initial rows and set the correct header
data_sales_adidas_corrected = pd.read_excel(excel_file, sheet_name='Data Sales Adidas', header=3)

# Drop any initial empty rows and columns if they exist
data_sales_adidas_corrected = data_sales_adidas_corrected.dropna(how='all')
data_sales_adidas_corrected = data_sales_adidas_corrected.dropna(axis=1, how='all')

# Display the first few rows of the corrected dataframe
data_sales_adidas_corrected.head()

,Foot Locker,1185732,2020-01-03 00:00:00,Northeast,New York,New York.1,Women's Street Footwear,40,1000,400000,140000,0.35,In-store
0,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.0,0.35,In-store
1,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,In-store
2,Foot Locker,1185732,2020-01-06,Northeast,New York,New York,Women's Apparel,50.0,1000,500000.0,125000.0,0.25,In-store
3,Foot Locker,1185732,2020-01-07,Northeast,New York,New York,Men's Street Footwear,50.0,1250,625000.0,312500.0,0.50,In-store
4,Foot Locker,1185732,2020-01-08,Northeast,New York,New York,Men's Athletic Footwear,50.0,900,450000.0,135000.0,0.30,Outlet

In [10]:
# Remove the first row which still contains header-like information
data_sales_adidas_cleaned = data_sales_adidas_corrected.iloc[1:]

# Reset the index of the dataframe
data_sales_adidas_cleaned.reset_index(drop=True, inplace=True)

# Display the columns and the first few rows of the cleaned dataframe
data_sales_adidas_cleaned.head()

,Foot Locker,1185732,2020-01-03 00:00:00,Northeast,New York,New York.1,Women's Street Footwear,40,1000,400000,140000,0.35,In-store
0,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.0,0.30,In-store
1,Foot Locker,1185732,2020-01-06,Northeast,New York,New York,Women's Apparel,50.0,1000,500000.0,125000.0,0.25,In-store
2,Foot Locker,1185732,2020-01-07,Northeast,New York,New York,Men's Street Footwear,50.0,1250,625000.0,312500.0,0.50,In-store
3,Foot Locker,1185732,2020-01-08,Northeast,New York,New York,Men's Athletic Footwear,50.0,900,450000.0,135000.0,0.30,Outlet
4,Foot Locker,1185732,2020-01-21,Northeast,New York,New York,Women's Street Footwear,40.0,950,380000.0,133000.0,0.35,Outlet